# Ignore DS_Store files (macOS)
.DS_Store

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore C++ build artifacts
*.o
*.obj
*.exe
*.out
*.log
*.a
*.so
*.dylib

# Ignore IDE and editor settings
.vscode/
.idea/

# Ignore temporary/backup files
*.swp
*.swo
*.tmp
*~
.DS_Store
x38robot-controller/.DS_Store
x38robot-controller/bin/.DS_Store
.DS_Store
x38robot-controller/.DS_Store
x38robot-controller/bin/.DS_Store
